SPRING_PROFILES_ACTIVE=seeder
APP_SEEDER_ENABLED=true

APP_JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
APP_JWT_EXPIRATION_TIME=86400000 # 24 horas en milisegundos

# Estos variables son para perfile: seeder, dev
DEV_PORT=8667
DEV_DB_URL=jdbc:mysql://localhost:3306/sb-rhhub-app?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
DEV_DB_USER=root
DEV_DB_PASSWORD=

# Estos variables son para perfile: prod
PROD_PORT=8667
PROD_DB_URL=jdbc:mysql://localhost:3306/sb-rhhub-app?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
PROD_DB_USER=root
PROD_DB_PASSWORD=

# Definir CORS global para rutas específicas
CORS_ALLOWED_ORIGINS=*
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE
CORS_ALLOWED_HEADERS=*
CORS_ALLOW_CREDENTIALS=true
CORS_PATH_PATTERN=/**
